doctype html
html(lang="en")
	head
		title=title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://bootswatch.com/4/journal/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://kit.fontawesome.com/7a2b750f81.js")
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
		block head

		
	body
		nav(class="navbar navbar-expand-lg navbar-light bg-light")
			a(class='navbar-brand' href="#") Wikipedia
			button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation")
				span(class='navbar-toggler-icon') 
			
			div(class='collapse navbar-collapse' id='navbarColor03')
				ul(class="navbar-nav mr-auto")
					li(class="nav-item active")
						a(class="nav-link" href="#") Home
							span(class="sr-only") (current)
					if (typeof user != 'undefined')
						li(class="nav-item")
							a(class='nav-link' href="#") #{user.name} 
						li(class="nav-item")
							a(class='nav-link' href="/users/logout") logout
					else
						li(class="nav-item")
							a(class='nav-link' href="/users/login") Login
						li(class="nav-item")
							a(class='nav-link' href="/users/register") Register
				form(class="form-inline my-2 my-lg-0")
					input(class="form-control mr-sm-2" type="text" placeholder="Search")
					button(class="btn btn-secondary my-2 my-sm-0" type="submit") Search


		div(class='container')
			
			div(class='row')
				div(class='col-sm-2')
						block sidebar
						

				div(class='col-sm-10')
					block content